@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@800&display=swap");
@import 'ngx-toastr/toastr';

* {
    font-family: 'Noto Sans Thai', sans-serif !important;
}
.swal2-title{
    font-family: 'Noto Sans Thai', sans-serif !important;
}


.text-success{
    color: #1976D2 !important;
}

.btn-success{
    background-color: #1976D2 !important;
    border: none;

}